{{- /* Opens a numbered rule of the documentation standard and anchors it:
     {{< rule "ID-1" >}} renders a link to #id-1. A label that is not a
     prefix and a number, or that opens more than one rule on the page,
     fails the build, since either would leave a citation pointing at the
     wrong paragraph or at nothing. render-link.html checks the other end,
     that a link written as [ID-1](#id-1) has a rule to land on. */ -}}
{{- $label := .Get 0 | default "" -}}
{{- if not (findRE `^[A-Z]+-[1-9][0-9]*$` $label) -}}
  {{- errorf "%s: rule label %q is not a prefix and a number, such as \"ID-1\"" .Position $label -}}
{{- else -}}
  {{- $opened := findRE (printf `\{\{<\s*rule\s+"%s"\s*>\}\}` $label) .Page.RawContent -}}
  {{- if gt (len $opened) 1 -}}
    {{- errorf "%s: rule %s opens %d paragraphs; a number belongs to one rule" .Position $label (len $opened) -}}
  {{- end -}}
{{- end -}}
{{- $anchor := lower $label -}}
<a id="{{ $anchor }}" href="#{{ $anchor }}" class="font-mono text-sm">{{ $label }}</a>
{{- /* This comment removes trailing newlines. */ -}}
